{% load staticfiles %}
{% load blog_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>My Blog</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><a href="{% url 'bloghome' %}">Welcome to My Blog!</a></h1>
        </div>
        <div class="col-sm-8">
            {% block content %}{% endblock %}
        </div>
        <div class="col-sm-4">
            <h3>Archives</h3>
            {% entry_history %}
        </div>
    </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>

